# Dependencies
node_modules/
.pnp
.pnp.js

# Production
.next/
out/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.cache/
.vercel/

# Capacitor / Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor.settings.gradle
android/app/capacitor.build.gradle
